extends layout

block content
    link(rel="stylesheet" type="text/css" href="./css/custom/adminModule.css")

    div.page_wrapper
        div.container_master
            div.center-block(style="width:1200px; display:flex")
                div.input-group(style="background:#f0f0f0; padding:10px; border-radius:10px; margin-bottom:30px; width:250px; height: 300px; text-align:center; flex-direction:column")
                    form#masterRegister(style="text-align:left" )
                        h3 master 등록
                        
                        label Name
                        input#name.form-control(type='text', placeholder='name' name='name')

                        label IP-Address
                        input#ip.form-control(type='text', placeholder='IP-Address' name='ip')

                        label Skin
                        select#skinMaster.form-control(value = 'None' name='skin')
                                option None
                                option LED
                                option Motor

                        button.btn.btn-secondary(type='submit' style="width:70%") 등록

                div(style="padding:20px")
                    table#tblardu.table
                        thead.thead-dark
                            tr
                                th(scope="col") #id
                                th(scope="col") Name
                                th(scope="col" style="width:120px") IP-Address
                                th(scope="col" style="width:80px") Skin
                                th(scope="col") Select-Skin
                                th(scope="col") confirm-connected
                                th(scope="col") delete
                        tbody
                            for master in DB
                                tr
                                    td= master.id
                                    td.ardu_name= master.name
                                    td= master.ip
                                    td= master.skin                            
                                    td
                                        select.form-control(id =`${master.id}_master_skin`)
                                            option None
                                            option LED
                                            option Motor
                                    td 
                                        button.btn.btn-secondary.confirm(type='submit' id=`${master.id}_confirm`) 확인
                                    td
                                        button.btn.btn-secondary.delete(type='submit' id = `${master.id}_delete`) 제거                       

        div.container_slave
                div.center-block(style="width:1200px; display:flex")
                    div.input-group(style="background:#f0f0f0; padding:10px; border-radius:10px; margin-bottom:30px; width:250px; height: 300px;  text-align:center; flex-direction:column")
                        form#slaveRegister(style="text-align:left" )
                            h3 slave 등록

                            label master_id
                            input#master.form-control(type='text', placeholder='master_id' name='id')

                            label port
                            input#port.form-control(type='text', placeholder='port' name='port')

                            label skin
                            //-input#skin.form-control(type='text', placeholder='skin' name='skin')
                            select#skinSlave.form-control(selected = 'Motor' name='skin')
                                option LED
                                option Motor

                            button.btn.btn-secondary(type='submit' style="width:70%") 등록

                    div(style="padding:20px")
                        table#tblslave.table
                            thead.thead-dark
                                tr
                                    th(scope="col") #id
                                    th(scope="col") master
                                    th(scope="col") port
                                    th(scope="col" style="width:80px") Skin
                                    th(scope="col" style="width:200px") Select-Skin
                                    th(scope="col") confirm-connected
                                    th(scope="col") delete
                            tbody

    script(src='./adminPage.js')