extends layout

block content
  .content_wrapper
    h1 how to use


    h2 useable modules
    table(style = 'text-align:center')
        thead.thead-dark
            tr
                th(scope="col" style="width:100px") name
                th(scope="col" style="width:100px") function1
                th(scope="col" style="width:100px") function2
                th(scope="col" style="width:100px") function3

        for skins in DB  
            div(class=`div${skins.id}`)
                tr
                    td
                        p=skins.skin
                    td
                        p=skins.func1
                    td
                        p=skins.func2
                    td
                        p=skins.func3


    script(src='./instructionPage.js')